.title{
    position:absolute;
    left: 45%;
    top:  2%;
}

.text_title{
    font-size: 50px;
    font-family: cursive;
    font-weight: bold;

}

.emoji_cool{
    position:absolute;
    top: 28%;
    left: 110%;
}



.faq-button {
    width: 250px;
    height: 250px;
    border-radius: 50%;
    border: none;
    display: flex;
    background: linear-gradient(63deg,#ff4c00,#ff8f00,#ffb500,#ff1300);
    background-size: 240% 240%;
    animation: gradient-animation 24s ease infinite;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.151);
    position: relative;
  }

  .faq-button_disable {
    width: 250px;
    height: 250px;
    border-radius: 50%;
    border: none;
    display: flex;
    background: linear-gradient(63deg,#7e7e7e,#7e7e7e,#7e7e7e,#7e7e7e);
    background-size: 240% 240%;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.151);
    position: relative;
  }

  
  @keyframes gradient-animation {
    0% {
      background-position: 0% 50%;
    }
    50% {
      background-position: 100% 50%;
    }
    100% {
      background-position: 0% 50%;
    }
  }

 
  .faq-button:hover img {
    animation: jello-vertical 0.7s both;
  }
  @keyframes jello-vertical {
    0% {
      transform: scale3d(1, 1, 1);
    }
    30% {
      transform: scale3d(0.75, 1.25, 1);
    }
    40% {
      transform: scale3d(1.25, 0.75, 1);
    }
    50% {
      transform: scale3d(0.85, 1.15, 1);
    }
    65% {
      transform: scale3d(1.05, 0.95, 1);
    }
    75% {
      transform: scale3d(0.95, 1.05, 1);
    }
    100% {
      transform: scale3d(1, 1, 1);
    }
  }
  
  

  .tooltip {
    position: absolute;
    top: -20px;
    opacity: 0;
    background-color: #ffe53b;
    background-image: linear-gradient(147deg, #ff8f00 0%, #ff4c00 74%);
    color: white;
    padding: 5px 10px;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    transition-duration: 0.2s;
    pointer-events: none;
    letter-spacing: 0.5px;
  }
  .tooltip_disable {
    position: absolute;
    top: -20px;
    opacity: 0;
    background-color: #ffe53b;
    background-image: linear-gradient(147deg, #7e7e7e 0%, #7e7e7e 74%);
    color: white;
    padding: 5px 10px;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    transition-duration: 0.2s;
    pointer-events: none;
    letter-spacing: 0.5px;
  }
  
  .tooltip::before {
    position: absolute;
    content: "";
    width: 10px;
    height: 10px;
    background-color: #ff4c00;
    background-size: 1000%;
    background-position: center;
    transform: rotate(45deg);
    bottom: -15%;
    transition-duration: 0.3s;
  }
  
  .faq-button:hover .tooltip {
    top: -40px;
    opacity: 1;
    transition-duration: 0.3s;
  }



  .scissors_button{
    position:absolute;
    left: 40%;
    top:  25%;
    
  }

  .Rock_button{
    position:absolute;
    left: 53%;
    top:  46%;
    
  }

  .paper_button{
    position:absolute;
    left: 38%;
    top:  56%;
    
  }

  .gameover{
    position:absolute;
    top:  15%;
    left: 48%;
  }

  .result{
   opacity: 1;
   color:#757575;
   font-family: cursive;
   font-weight: bold;
   font-size: 30px;
  }

  .result_gameover{
    color:#d10e00;
    opacity:1;
    font-family: cursive;
    font-weight: bold;
    font-size: 30px;
  }

  .result_win{
    color:#006cd1;
    opacity:1;
    font-family: cursive;
    font-weight: bold;
    font-size: 30px;
  }

.bot_scissors{
    opacity:0;
}

.bot_scissors_animation{
    position: absolute;
    display:flex;
    opacity:1;
    animation: bot_result_animation 0.7s both;
    top: 54%;
    left: 50%;
}

.bot_paper{
    opacity:0;
}

.bot_paper_animation{
    position: absolute;
    display:flex;
    opacity:1;
    animation: bot_result_animation 0.7s both;
    top: 54%;
    left: 50%;
}

.bot_rock{
    opacity:0;
}

.bot_rock_animation{
    position: absolute;
    display:flex;
    opacity:1;
    animation: bot_result_animation 0.7s both;
    top: 54%;
    left: 50%;
}

@keyframes bot_result_animation{
0%{
    scale:0;
}

80%{
    scale: 10;
    
}

100%{
    opacity: 0;
    
}

}